In [54]:
import json
import pandas as pd
import zipfile as zp

In [49]:
file_path = '../../examples/example1.zip'

In [30]:
def fb_decode(text):
    return text.encode('latin1').decode('utf8')

In [53]:
def _get_search_history(zip_file):
    with zip_file.open('search_history/your_search_history.json') as f:
        jdata = json.loads(f.read())
        messages = []
        types = []
        for search in list(jdata['searches']):
            if 'data' in search:
                messages.append(fb_decode(search['data'][0]['text']))
                types.append(fb_decode(search['title']))
    history = pd.DataFrame({'message': messages, 'type': types})
    return history

history = None
with zp.ZipFile(file_path) as zip:
    history = _get_search_history(zip)

In [48]:
counts = history.message.value_counts()
table = pd.DataFrame({'searched text': counts.index, 'count': counts})
table

                                     searched text  count
Linus Sebastian                    Linus Sebastian      3
Agata Sadowska                      Agata Sadowska      3
Biedronka                                Biedronka      2
mark zuckerberg                    mark zuckerberg      2
Kamil Gaik                              Kamil Gaik      2
...                                            ...    ...
memy informatyczne              memy informatyczne      1
kamil gaik                              kamil gaik      1
Okoń                                          Okoń      1
między nami                            między nami      1
Facebook profile pic gen  Facebook profile pic gen      1

[146 rows x 2 columns]

     index                              message                      type
0        0                   łukasz klimkiewicz  Przeszukiwałaś Facebooka
1        1                   Łukasz Klimkiewicz  Przeszukiwałaś Facebooka
2        2  Samorząd Studencki Instytutu Fizyki  Przeszukiwałaś Facebooka
3        3         samorzad studencki instytutu  Przeszukiwałaś Facebooka
4        4      1000 pomysłów na dania z GRILLa  Przeszukiwałaś Facebooka
..     ...                                  ...                       ...
153    153                           Menchester  Przeszukiwałaś Facebooka
154    154                            Barcelona  Przeszukiwałaś Facebooka
155    155                           sPORT TEAM  Przeszukiwałaś Facebooka
156    156                      Mark Zuckerberg  Przeszukiwałaś Facebooka
157    157                      mark zuckerberg  Przeszukiwałaś Facebooka

[158 rows x 3 columns]